.bg-black {
    background-color:#000000
}

body{
    background-color:#000000
}

.bg-darkest{
    background-color:#181818
}

.bg-darker{
    background-color:#333333;
}

h1,h5,.bg-primary{
    color:#FF7F2A;
    font-weight: bold;
}
h2,h6{
    color:#DBA507
}
h3{
    color:#8EC7D2
}
h4{
    color:#0D6986
}
.h5 {
    color:#07485B
}

body {
    color: #b8b8b8;
  }

.h-10 {
    height: 10;
}

/* img[src*=noimage]{
    filter:hue-rotate(mod(calc(attr(seed) * 1103515245 + 12345), 360))
} */