{%extends 'main/base.html'%}

{%block title%}
MYM | Главная
{%endblock%}

{%block content%}
<div class="container">
<div class="row justify-content-around">
    <div class="col-lg-6 col-xs-10 justify-content-center">
        <h2>Топ</h2>
        <div class="container">
            {% for song in best_songs %}
                <div class="row m-2 p-2 justify-content-left bg-darkest align-items-center">
                    <div class="col-3 p-1">
                        <img src="media/{{song.cover}}" class="w-75">
                    </div>
                    <div class="col-9">
                        <div class="row justify-content-left align-items-center">
                                <div class="col-12">
                                    <span>
                                        <h6>
                                            {{song.authors}}
                                        </h6>
                                        <h5>{{song.title}}</h5>
                                    </span>
                                </div>
    <!--                         <div class="col-1">
                                <img class="h-75" src="/static/images/play.svg">
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <audio controls>
                                    <source src="media/{{song.audio}}" type="audio/mpeg">
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-6 col-xs-10 justify-content-center">
        <h2>Рекомендации</h2>
        <div class="container">
            {% for song in recommend_songs %}
                <div class="row m-2 p-2 justify-content-left bg-darkest align-items-center">
                    <div class="col-3 p-1">
                        <img src="media/{{song.cover}}" class="w-75">
                    </div>
                    <div class="col-9">
                        <div class="row justify-content-left align-items-center">
                                <div class="col-12">
                                    <span>
                                        <h6>
                                            {{song.authors}}
                                        </h6>
                                        <h5>{{song.title}}</h5>
                                    </span>
                                </div>
    <!--                         <div class="col-1">
                                <img class="h-75" src="/static/images/play.svg">
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <audio controls>
                                    <source src="media/{{song.audio}}" type="audio/mpeg">
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row justify-content-around">
    <div class="col-lg-6 col-xs-10 justify-content-center">
        <h2>Новое</h2>
        <div class="container">
            {% for song in new_songs %}
                <div class="row m-2 p-2 justify-content-left bg-darkest align-items-center">
                    <div class="col-3 p-1">
                        <img src="media/{{song.cover}}" class="w-75">
                    </div>
                    <div class="col-9">
                        <div class="row justify-content-left align-items-center">
                                <div class="col-12">
                                    <span>
                                        <h6>
                                            {{song.authors}}
                                        </h6>
                                        <h5>{{song.title}}</h5>
                                    </span>
                                </div>
    <!--                         <div class="col-1">
                                <img class="h-75" src="/static/images/play.svg">
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <audio controls>
                                    <source src="media/{{song.audio}}" type="audio/mpeg">
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-6 col-xs-10 justify-content-center">
        <h2>Случайное</h2>
        <div class="container">
            {% for song in random_songs %}
                <div class="row m-2 p-2 justify-content-left bg-darkest align-items-center">
                    <div class="col-3 p-1">
                        <img src="media/{{song.cover}}" class="w-75">
                    </div>
                    <div class="col-9">
                        <div class="row justify-content-left align-items-center">
                                <div class="col-12">
                                    <span>
                                        <h6>
                                            {{song.authors}}
                                        </h6>
                                        <h5>{{song.title}}</h5>
                                    </span>
                                </div>
    <!--                         <div class="col-1">
                                <img class="h-75" src="/static/images/play.svg">
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <audio controls>
                                    <source src="media/{{song.audio}}" type="audio/mpeg">
                                </audio>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{%endblock%}