{%extends 'main/base.html'%}

{%block title%}
MYM | Главная
{%endblock%}

{%block content%}
<div class="container">
<div class="row justify-content-around">
    <div class="col-lg-6 col-xs-10 justify-content-center">
        <h2>Топ</h2>
        {%include "main/songTile.html" with songs=best_songs%}
    </div>
    <div class="col-lg-6 col-xs-10 justify-content-center">
        <h2>Рекомендации</h2>
        {%include "main/songTile.html" with songs=recommend_songs%}
</div>
    <div class="col-lg-6 col-xs-10 justify-content-center">
        <h2>Новое</h2>
        {%include "main/songTile.html" with songs=new_songs%}
    </div>
    <div class="col-lg-6 col-xs-10 justify-content-center">
        <h2>Случайное</h2>
        {%include "main/songTile.html" with songs=random_songs%}
    </div>
</div>
</div>
{%endblock%}