{%extends 'main/base.html'%}

{%block title%}
MYM | Вход
{%endblock%}

{%block content%}
<div class="container">
    <div class="row w-100">
      {%for error in errors%}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
      {%endfor%}
    </div>
    <div class="row w-100">
      <form action="" method="post" enctype="multipart/form-data">
          <div class="form-group">
            {% csrf_token %}
            {%for field in form%}
              {{ field.label_tag }}
              {{field}}
            {%endfor%}
            <input type="submit" value="Вход">
          </div>
      </form>
    </div>
  </div>
{%endblock%}